<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>Ibadhaa</Author>
  <LastAuthor>Ibadhaa</LastAuthor>
  <Created>2013-11-05T21:15:32Z</Created>
  <Version>14.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>5160</WindowHeight>
  <WindowWidth>14115</WindowWidth>
  <WindowTopX>720</WindowTopX>
  <WindowTopY>375</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
 </Styles>
 <Worksheet ss:Name="users">
  <Table ss:ExpandedColumnCount="7" ss:ExpandedRowCount="3" x:FullColumns="1"
   x:FullRows="1" ss:DefaultRowHeight="15">
   <Row>
    <Cell><Data ss:Type="String">id</Data></Cell>
    <Cell><Data ss:Type="String">username</Data></Cell>
    <Cell><Data ss:Type="String">hashed_password</Data></Cell>
    <Cell><Data ss:Type="String">salt</Data></Cell>
    <Cell><Data ss:Type="String">email</Data></Cell>
    <Cell><Data ss:Type="String">created_at</Data></Cell>
    <Cell><Data ss:Type="String">updated_at</Data></Cell>
   </Row>
   <Row>
    <Cell><Data ss:Type="Number">1</Data></Cell>
    <Cell><Data ss:Type="String">admin</Data></Cell>
    <Cell><Data ss:Type="String">bad450122b86daf92fb70cb20cba0c56d6162422</Data></Cell>
    <Cell><Data ss:Type="String">8007b68604e7b2b420efbfee869582b8bcbeab5f</Data></Cell>
    <Cell><Data ss:Type="String">cnatheboy@gmail.com</Data></Cell>
    <Cell><Data ss:Type="String">2013-11-05 19:31:21 UTC</Data></Cell>
    <Cell><Data ss:Type="String">2013-11-05 19:31:21 UTC</Data></Cell>
   </Row>
   <Row>
    <Cell><Data ss:Type="Number">2</Data></Cell>
    <Cell><Data ss:Type="String">lecturer</Data></Cell>
    <Cell><Data ss:Type="String">a41ed819d40792e65786e08364175ebc7d333ad9</Data></Cell>
    <Cell><Data ss:Type="String">0159c84c211be504573dfe8ca511b0c39d073bbb</Data></Cell>
    <Cell><Data ss:Type="String">email@email.com</Data></Cell>
    <Cell><Data ss:Type="String">2013-11-05 19:32:49 UTC</Data></Cell>
    <Cell><Data ss:Type="String">2013-11-05 19:32:49 UTC</Data></Cell>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.3"/>
    <Footer x:Margin="0.3"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
   </PageSetup>
   <Selected/>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
